<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427376492034-s9pmbtm7dif0r539vunr1schor8no8o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427376492034-s9pmbtm7dif0r539vunr1schor8no8o1</string>
	<key>API_KEY</key>
	<string>AIzaSyCIHx_qxP_W8e1g25Y323UYEwF35tb3Q1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>427376492034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ethicaldigit.flutterGroupChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-group-chat-6771f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-group-chat-6771f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427376492034:ios:6bbacdd8e12c6378a7b11b</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-group-chat-6771f-default-rtdb.firebaseio.com</string>
</dict>
</plist>